/* Center the auth forms in the screen */
.page {
  background-color: #0f111a;
  color:white;
}
.auth-container {
  height: 100vh; /* full screen height */
  width: 100vw;  /* full screen width */
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f9fafc; */
  background-color: #0f111a;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;

}

/* White card box */
.auth-box {
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  /* max-width: 50%; */
  text-align: center;
  
  /* color:white !important; */
  /* background: white; */
  /* background: #161b2c; */
  background: #1a1a1a;
  color: white;
}

/* Title */
.auth-box h2 {
  margin-bottom: 20px;
  /* color: #333; */
  font-size: 24px;
  font-weight: bold;
}

/* Input fields */
.auth-box input {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.auth-box input:focus {
  border-color: #007bff;
}

/* Buttons */
.auth-box button {
  width: 98%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-box button:hover {
  background: #0056b3;
}

/* Links */
.link {
  color: #007bff;
  /* color: red; */
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  
}
.forgot  {
  display: block;
  text-align: right !important;
  /* color: red !important; */
}

.link:hover {
  color: #0056b3;
}

/* Paragraphs */
.auth-box p {
  margin-top: 12px;
  font-size: 14px;
}

/* Logo Header (top-left) */
/* Logo Header (top-left stacked) */
.logo-header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;  /* stack vertically */
  align-items: center;
  text-align: center;
}

.auth-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

.auth-brand {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

